extends layout

block content
    div(class='inputContainer')
        form(method='post' action='/create')
            br
            p(id='inputText') Enter a Username:
            input(class='input' id='nameInput' type='text' name='username' required)
            br
            br
            p(id='inputText') Enter a Password:
            input(
                class='input'
                id='passInput'
                type='password'
                name='password'
                pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title='Must contain at least one uppercase letter, one lowercase letter, one number, and a minimum of 8 characters.'
                required
                )
            br
            div(class='showPassContainer')
                input(class='checkbox' id='checkbox' type='checkbox')
                p Show Password
            p
                br
                input(class='input' id='createBtn' type='submit' value='Create Account')
            p
                br
                a(href='/login') Go Back
            br
        div(id='errors')
            h3(id='errorMsg') Password must contain the following:
            p(class='invalid' id='upper') An uppercase letter
            p(class='invalid' id='lower') A lowercase letter
            p(class='invalid' id='number') A number
            p(class='invalid' id='count') Minimum of 8 characters

    script(src='signup.js')